@tailwind base;
@tailwind components;
@tailwind utilities;

/* 元素的默认边距和填充 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 让元素的宽度和高度包括边框和填充 */
}

/* 设置页面根元素的字体大小 */
html {
  font-size: 16px; /* 建议使用相对单位，例如 em 或 rem */
  /* font-size: 62.5%; 将根元素的字体大小设置为10px（10px / 16px * 100% = 62.5%） */
}

/* 移除列表样式 */
ul,
ol {
  list-style: none;
}

/* 移除链接的默认样式 */
a {
  text-decoration: none;
  color: inherit; /* 继承父元素的文本颜色 */
}

/* 重置标题元素的默认样式 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* 重置按钮样式 */
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
